
@import url('https://fonts.googleapis.com/css2?family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&display=swap');


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Kantumruy Pro", sans-serif;
}


:root{
    --color1:#1A2BC2;
}

.Hydrohex-box1 {
    height: 738px;
    width: 100%;
    background-image: url("./img/hd-banner.png");
    background-position: center center;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: end;
    padding: 50px 50px;
}
.Hydrohex-box1 .hd-first-btn{
    border: none;
    padding: 5px 30px;
    background-color: #fff;
font-weight: 500;
text-transform: uppercase;
color: #000000;
border-radius: 50px;
border: 1px solid #1A2BC2;
transition: all 0.5s;
}

.Hydrohex-box1 .hd-first-btn:hover{
   background-color: var(--color1);
   color: #fff;
   border: 1px solid #fff;
}

.Hydrohex-box1  h2{
    font-size: 3.5rem;
    color: #fff;
    font-weight: 500;
letter-spacing: -0.05em;
line-height: 1.1;
margin-top: 50px;
  
}
.Hydrohex-box1 button:hover svg path{
    fill: #fff;
}

.Hydrohex-box1  h3{
    font-size: 3.5rem;
    color: #fff;
    font-weight: 500;
letter-spacing: -0.05em;
line-height: 1;
}
.Hydrohex-box1 .svg-btn{
    height: 46px;
    border: none;
    width: 126px;
    border-radius: 50px;
    transition: all 0.5s;
}
.Hydrohex-box1 .svg-btn:hover{
background-color: var(--color1);
border: 1px solid #fff;
}

.Hydrohex-box1 a{
    font-size: 1.5rem;
    text-decoration: none;
    color: #fff;
    font-weight: 400;
    letter-spacing: -0.05em;
  padding-top: 20px;
  display: inline-block;
}

.Hydrohex-box1 p{
font-weight: 500;
letter-spacing: -0.03em;
color: #F5F5F5;
font-size: 1.5rem;
line-height: 1;
margin-bottom: 50px;
}



/* ========================================================================section2==================================== */
.hd-section2{
    background-color: #d9e4f6;
    padding: 60px 0px 100px  0px;
}
.hd-section2 h4{
    font-size: 3.5rem;
    line-height: 1;
font-weight: 500;
letter-spacing: -0.04em;
color: #000000;
position: relative;
}
.hd-section2 h4::before{
    content: " ";
    width: 80%;
    height: 2px;
    background-color: var(--color1);
    position: absolute;
    bottom: -10px;
    left: 0px;
    transform: rotate(-3deg);
}

.hd-section2 p{
    font-size: 1.5rem;
font-weight: 400;
letter-spacing: -0.05em;
color: #434343;
line-height: 1;
padding-right: 150px;
padding-bottom: 40px;
}

.hd-section2 h6{
    font-size: 3.5rem;
    line-height: 1;
font-weight: 500;
letter-spacing: -0.04em;
color: #1E1E1E;
margin-top: 100px;
}
.hd-section2 h6 span{
    color: var(--color1);
}
/* ========================================================================section2-end==================================== */
/* ========================================================================section3==================================== */
.hd-section3{
       height: 650px;
    background-image: url("./img/hd-section3.png");
    background-position: center center;
    background-size:100% 100%; 
}

.hd-section3 h4{
font-size: 3.5rem;
font-weight: 600;
letter-spacing: -0.03em;
color: #FFFFFF;
line-height: 1;
padding-left: 50px;
padding-top: 100px;
}

.hd-section3 button{
    background-color: transparent;
    border: none;
    padding: 10px 30px;
    border: 1px solid #fff;
    border-radius: 50px;
    margin-left: 30px;
    transition: all 0.5s;
    margin-bottom: 15px;
}

.hd-section3 button:hover{
    background-color: #fff;

}
.hd-section3 svg{
    width: 25px;
    height: 25px;
}
.hd-section3 button:hover svg path{
    fill: var(--color1);

}
.hd-section3 h5{
    font-size: 1.2rem;
font-weight: 400;
letter-spacing: -0.03em;
color: #FFFFFF;
margin-left: 10px;
}

.arrowsvg{
    margin-top: 10px;
    margin-left: 20px;
    width: 10px !important;
}
/* ========================================================================section3-end==================================== */

/* ==================================================section5============================================================ */
.hd-section5{
    /* height: 600px; */
    width: 100%;
    background-color: #e9edf9;
    padding-top: 150px;
padding-bottom: 80px;
background-image: url("./img/wave.png");
background-repeat: no-repeat;
background-size: 100% ; 
background-position: center center;

}

.hd-section5 img{
    margin-top: -100px;
}
.hd-section5 h3{
    font-size: 5rem;
    color: #434343;
    line-height: 1;
}


.hd-section5 h3 i{
    color: var(--color1);
}
.hd-section5 h3 b{
color: var(--color1);
font-weight: 600;
letter-spacing: -0.03em;
color: #1A2BC2;
}
/* ==================================================section5-end============================================================ */
/* ========================================================================.lasting-surface==================================== */

.blue-text{
    padding: 40px 0px;
    background-color: var(--color1);
}

.blue-text p{
    font-size: 1.5rem;
    color: #fff;
font-weight: 400;
letter-spacing: -0.03em;
line-height: 1.2;
margin-bottom: 0px;
}

.lasting-surface h4{
color: #434343;
font-size: 3.5rem;
width: 600px;
font-weight: 500;
letter-spacing: -0.04em;
line-height: 1;
margin-top: 100px;
margin-bottom: 130px;
}

.lasting-surface h4 b{
    color: #000000;
    font-weight: 500;
}
.lasting-surface h4 span{
    color: var(--color1);
}
.lasting-surface img{
    width: 25%;
}

.lasting-surface p{
font-size: 2rem;
font-weight: 500;
letter-spacing: -0.04em;
color: #919090;
line-height: 1;
margin-top: 60px;
}

.footer{
    background-color: var(--color1);
}

.footer .line{
width: 100px;
height: 2px;
background-color: #fff;
margin-bottom: 40px;
}
.footer{
    padding: 30px 40px;
    margin-top: 80px;
}
.footer h4{
    font-size:2rem;
    color: #fff;
font-weight: 500;
letter-spacing: -0.04em;
line-height: 1;
}

.footer p{
font-size: 1.3rem;
color: #fff;
font-weight: 500;
letter-spacing: -0.04em;
line-height: 1.1;
margin-top: 30px;
}
/* ========================================================================.lasting-surface-end==================================== */




/* ==============================================accodian-sectio ====================================================== */


 .accodian-section     .accordion, 
.accordion-item, 
.accordion-button {
  border: none !important;
  box-shadow: none !important;
}
 .accodian-section .accordion-button {
  background-color: var(--color1);
  color: #fff;
  font-size: 1.5rem;
font-weight: 400;
letter-spacing: -0.04em;
line-height: 1;

}


 .accodian-section .accordion-body{
font-weight: 400;
letter-spacing: -0.04em;
color: #000000;
line-height: 1;
font-size: 1.1rem;
padding-block: 30px;
 }

.accodian-section .accordion-button:focus {
  box-shadow: none !important;
}

.accodian-section .border {
  border: none !important;
}

.accodian-section .accordion-button::after {
  flex-shrink: 0;
  width: 15px !important;
  height: 15px !important;
  margin-left: auto;
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg%20width%3D'14'%20height%3D'12'%20viewBox%3D'0%200%2014%2012'%20fill%3D'none'%20xmlns%3D'http%3A//www.w3.org/2000/svg'%3E%3Cpath%20d%3D'M0.494928%200.758753L13.2827%200.758752L6.88882%2011.833L0.494928%200.758753Z'%20fill%3D'white'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: contain;
  transition: transform 0.2s ease-in-out;
}

.accodian-section h5{
    font-size: 3rem;
font-weight: 500;
letter-spacing: -0.05em;
color: #000000;
line-height: 1;
}
.accodian-section p{
    font-size: 1.5rem;
    line-height: 1;
font-weight: 400;
letter-spacing: -0.05em;
color: #434343;
padding-right: 100px;
margin-top: 40px;
}

.accodian-section {
    padding-block: 100px;
    background-color: #ecf0fb;
}



.section-7-bottom {
    background-color: var(--color1);
    padding: 50px;
    text-align: right;
}

.section-7-bottom p{
    font-size: 1.5rem;
    color: #fff;
font-weight: 500;
letter-spacing: -0.03em;
line-height: 1.2;
}
.section8{
    padding: 100px 0px  0px 0px ;
}

.section8 h4{
    font-size: 3.5rem;
font-weight: 500;
letter-spacing: -0.04em;
color: #000000;
line-height: 1;
}

.section8 h4 span{
    color: var(--color1);
}

.section9leftcollom{
    background-color: #E3EAF9;
    padding: 130px 100px 100px 50px;

}
.section9leftcollom h4{
    font-size: 3.5rem;
font-weight: 500;
letter-spacing: -0.04em;
color: #000000;
line-height: 1;
}

.section9leftcollom p{
font-size: 1.7rem;
font-weight: 400;
letter-spacing: -0.05em;
color: #434343;
line-height: 1;
margin-top: 50px;
}

.section10{
    background-color: var(--color1);
}

.section10 h2{
    font-size: 2rem;
font-weight: 400;
letter-spacing: -0.03em;
color: #FFFFFF;
line-height: 1;
}

.section10 p{
    font-size: 2.5rem;
font-weight: 400;
letter-spacing: -0.03em;
color: #FFFFFF;
line-height: 1;
}

.section10 .sec10fake{
background-color: #2087E7;
padding: 95px 20px;
}
/* ==============================================accodian-section ====================================================== */
/* ===================================section-4============================= */
.section4{
    width: 100%;
    background-image: url("./img/section4.png");
    background-position: center center;
    background-size: 100% 100%;
    text-align: center;
}
.section4 h3{
    font-size: 1.8rem;
font-weight: 500;
letter-spacing: -0.04em;
color: #FFFFFF;
padding-top: 100px;
padding-bottom: 20px;
}
.section4 h2{
    font-size: 3rem;
font-weight: 500;
letter-spacing: -0.04em;
color: #FFFFFF;
line-height: 1;
padding-bottom: 100px;
}
.section4 button{
  border: 1px solid #fff;
  padding: 10px 30px;
  font-size: 1.5rem;
  color: #fff;
  background-color: transparent;
  margin-top: 100px;
  margin-bottom: 100px;
}

@media (max-width: 991.98px) {
    .Hydrohex-box1  h2 {
    font-size: 2.5rem;
}
.Hydrohex-box1  h3 {
    font-size: 2.5rem;
}
.Hydrohex-box1 {
    height: 630px;
}
.Hydrohex-box1 p {
    font-size: 1.22rem;
    margin-bottom: 50px;
}
.hd-section2 h6 {
    font-size: 3rem;
    margin-top: 50px;
}
.hd-section3 h4 {
    font-size: 2rem;
    padding-right: 100px;
}
.hd-section3 {
    height: 600px;
    background-image:unset;
    background-color: #1A2BC2;
}
.section4 h2 {
    font-size: 2.3rem;
}
.hd-section5-row{
    flex-direction: column-reverse;
}
.hd-section5 img {
    margin-top: 0px;
}
.hd-section5 h3 {
    padding-left: 70px;
    font-size: 4rem;
}
.accodian-section {
    padding-block: 40px;
}
.accodian-section .accordion-button {
    font-size: 1.2rem;
}
.blue-text p {
    font-size: 1.1rem;
}
.section-7-bottom p {
    font-size: 1.3rem;
}
.section9leftcollom p {
    font-size: 1.3rem;
}
.section9-row{
    flex-direction: column-reverse;
}
.section9leftcollom {
    padding: 80px 100px 80px 50px;
}
.section8{
    text-align: center;
}
.section8 h4 {
    font-size: 2.5rem;
}
.section8 img{
    width: 30% !important;
}
.section8 {
    padding: 50px 0px  0px 0px;
}
.section9leftcollom h4 {
    font-size: 3rem;
} 
.lasting-surface h4 {
    font-size: 2.5rem;
    margin-bottom: 90px;

}

.footer p{
    font-size: 1rem;
}

}

@media (max-width: 500px) {
.Hydrohex-box1 {
    height: 500px;
    align-items: start;
    padding: 30px 30px;
}
.hy-box1-img{
width:40px !important;
height:40px !important;
margin-bottom: 50px;
}
.Hydrohex-box1 .svg-btn {
    height: 35px;
    border: none;
    width: 100px;
    border-radius: 50px;
    transition: all 0.5s;
}
.Hydrohex-box1 .svg-btn svg{
    width: 50px;
}
.Hydrohex-box1  h2 {
    font-size: 2rem;
    line-height: 35px;
    margin-top: 20px;
}
.Hydrohex-box1  h3 {
    font-size: 2rem;
}
.Hydrohex-box1 .hd-first-btn {
font-size: 0.7rem;
padding: 7px 20px;
}
.Hydrohex-box1 p {
    font-size: 0.8rem;
    margin-bottom: 30px;
}
.Hydrohex-box1 a {
    display: none;
}
.hd-section2 h4 {
    font-size: 1.5rem;
    margin-bottom: 60px;
}
.hd-section2 p {
    font-size: 1rem;
    padding-right: 0px;
    padding-bottom: 20px;
}
.hd-section2 h6 {
    font-size: 1.2rem;
    margin-top: 30px;
}
.hd-section2 {
    padding: 50px 0px 35px  0px;
}
.allflex-hd-box3{
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.hd-section3 h4 {
    font-size: 1.7rem;
    font-weight: 600;
    letter-spacing: -0.03em;
    color: #FFFFFF;
    line-height: 1;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 50px;
    margin-bottom: 50px;
}
.hd-section3 h5 {
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: -0.03em;
    color: #FFFFFF;
    margin-left: 35px;
}
.hd-section3 button {
    padding: 12px 40px;
    margin-left: 17px;
    margin-bottom: 15px;
}
.arrowsvg{
    display: none;
}
.hd-section3 {
    height: 550px;
}
.allflex-hd-box3-last {
    margin-top: 30px;
}

.section4 img{
    width: 70%;
}
.section4 h2 {
    font-size: 1rem;
    padding-bottom: 50px;
}
.section4 h3 {
    font-size: 1.5rem;
    padding-top: 60px;
    padding-bottom: 20px;
}
.section4 button {
    font-size: 1rem;
    margin-top: 60px;
    margin-bottom: 50px;
}
.section4 {
    background-position: center center;
    background-size: cover;
    text-align: center;
    background-repeat: no-repeat;
}
.hd-section5 h3 {
    padding-left: 70px;
    font-size: 2rem;
}
.hd-section5 {
    padding-top: 50px;
    padding-bottom: 0px;
}
.blue-text p {
    font-size: 0.7rem;
    padding-inline: 30px;
}
.accodian-section h5 {
    font-size: 1.5rem;
}
.accodian-section p {
    font-size: 1rem;
    padding-right: 0px;
    margin-top: 30px;
}
.accodian-section .accordion-body {
    font-size: 0.8rem;
    padding-block: 20px;
}
.accodian-section .accordion-button {
    font-size: 1rem;
}
.accodian-section .accordion-button::after {
    width: 12px !important;
    height: 12px !important;

}
.section-7-bottom {
    padding: 30px;
    text-align: center;
}
.section-7-bottom p {
    font-size: 0.7rem;
}
.section8 h4 {
    font-size: 1.5rem;
}
.section9leftcollom {
    padding: 40px;
}
.section9leftcollom h4 {
    font-size: 1.5rem;
}
.section9leftcollom p {
    font-size: 0.9rem;
    margin-top: 30px;
}
.lasting-surface h4 {
    color: #434343;
    font-size: 1.5rem;
    width: unset;
    font-weight: 500;
    letter-spacing: -0.04em;
    line-height: 1;
    margin-top: 50px;
    padding-left: 100px;
    margin-bottom: 50px;
}
.lasting-surface img {
    width: 80%;
}
.lasting-surface p {
    font-size: 1rem;
    padding-inline: 20px;
    margin-top: 30px;
}
.footer h4 {
    font-size: 1.5rem;
}
.footer p {
    font-size: 0.8rem;
    margin-top: 20px;
}
}
